p{
    color: white;
    background-color: rgb(82, 167, 167);
    text-align: right;
    font-size: 30px;
}


#text{
    color:white;
    background-color:rgb(29, 69, 143);
    text-align: right;
    font-size: 30px;
    font-family: monospace;
}